USE [master]
GO
/****** Object:  Database [DB_4]    Script Date: 16.06.2024 22:16:56 ******/
CREATE DATABASE [DB_4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_4', FILENAME = N'D:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_4_log', FILENAME = N'D:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_4_log.ldf' , SIZE = 66560KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_4]
GO
/****** Object:  Table [dbo].[AUTHORS]    Script Date: 16.06.2024 22:17:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORS](
	[A_ID] [int] IDENTITY(1,1) NOT NULL,
	[A_FNAME] [nchar](20) NOT NULL,
	[A_LNAME] [nchar](30) NOT NULL,
	[A_INN] [nchar](12) NOT NULL,
	[A_PASSP] [nchar](12) NOT NULL,
	[A_ORG] [nchar](30) NOT NULL,
	[A_PDATE] [date] NOT NULL,
	[A_ADDR] [nchar](50) NOT NULL,
	[A_TEL] [nchar](30) NOT NULL,
 CONSTRAINT [PK_AUTHORS] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 16.06.2024 22:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[B_CONTRACT] [int] IDENTITY(1,1) NOT NULL,
	[B_DATE] [date] NULL,
	[B_MAN] [int] NULL,
	[B_TITLE] [nchar](40) NULL,
	[B_PRICE] [decimal](6, 2) NULL,
	[B_ADVANCE] [decimal](10, 2) NULL,
	[B_FEE] [decimal](8, 2) NULL,
	[B_PUBL] [date] NOT NULL,
	[B_CIRCUL] [int] NOT NULL,
	[B_EDIT] [int] NULL,
	[B_REST] [int] NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[B_CONTRACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_NAME] [nchar](30) NOT NULL,
	[C_ADDR] [nchar](50) NOT NULL,
 CONSTRAINT [PK_CUSTOMERS] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORS](
	[B_ID] [int] NOT NULL,
	[E_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[E_ID] [int] IDENTITY(1,1) NOT NULL,
	[E_FNAME] [nchar](20) NOT NULL,
	[E_LNAME] [nchar](30) NOT NULL,
	[E_BORN] [date] NULL,
	[E_SEX] [bit] NOT NULL,
	[E_POST] [int] NOT NULL,
	[E_ROOM] [int] NULL,
	[E_TEL] [nchar](10) NULL,
	[E_INN] [nchar](12) NOT NULL,
	[E_PASSP] [nchar](12) NOT NULL,
	[E_ORG] [nchar](30) NOT NULL,
	[E_PDATE] [date] NOT NULL,
	[E_ADDR] [nchar](50) NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[E_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[O_ID] [int] NOT NULL,
	[B_ID] [int] NOT NULL,
	[B_COUNT] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[O_ID] [int] IDENTITY(1,1) NOT NULL,
	[O_COMPANY] [int] NOT NULL,
	[O_DATE] [date] NOT NULL,
	[O_READY] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[O_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[P_ID] [int] IDENTITY(1,1) NOT NULL,
	[P_POST] [nchar](30) NOT NULL,
	[P_SAL] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_POSTS] PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[R_NO] [int] NOT NULL,
	[R_TEL] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ROOMS] PRIMARY KEY CLUSTERED 
(
	[R_NO] ASC,
	[R_TEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TITLES]    Script Date: 16.06.2024 22:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TITLES](
	[B_ID] [int] IDENTITY(1,1) NOT NULL,
	[A_ID] [int] NOT NULL,
	[A_NO] [int] NOT NULL,
	[A_FEE] [decimal](3, 0) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_EMPLOYEES] FOREIGN KEY([B_MAN])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[BOOKS] CHECK CONSTRAINT [FK_BOOKS_EMPLOYEES]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_BOOKS_EMPLOYEES1] FOREIGN KEY([B_EDIT])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[BOOKS] CHECK CONSTRAINT [FK_BOOKS_EMPLOYEES1]
GO
ALTER TABLE [dbo].[EDITORS]  WITH CHECK ADD  CONSTRAINT [FK_EDITORS_BOOKS] FOREIGN KEY([B_ID])
REFERENCES [dbo].[BOOKS] ([B_CONTRACT])
GO
ALTER TABLE [dbo].[EDITORS] CHECK CONSTRAINT [FK_EDITORS_BOOKS]
GO
ALTER TABLE [dbo].[EDITORS]  WITH CHECK ADD  CONSTRAINT [FK_EDITORS_EMPLOYEES] FOREIGN KEY([E_ID])
REFERENCES [dbo].[EMPLOYEES] ([E_ID])
GO
ALTER TABLE [dbo].[EDITORS] CHECK CONSTRAINT [FK_EDITORS_EMPLOYEES]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_POSTS] FOREIGN KEY([E_POST])
REFERENCES [dbo].[POSTS] ([P_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_POSTS]
GO
ALTER TABLE [dbo].[EMPLOYEES]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEES_ROOMS] FOREIGN KEY([E_ROOM], [E_TEL])
REFERENCES [dbo].[ROOMS] ([R_NO], [R_TEL])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EMPLOYEES] CHECK CONSTRAINT [FK_EMPLOYEES_ROOMS]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ITEMS_BOOKS] FOREIGN KEY([B_ID])
REFERENCES [dbo].[BOOKS] ([B_CONTRACT])
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [FK_ITEMS_BOOKS]
GO
ALTER TABLE [dbo].[ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_ITEMS_ORDERS] FOREIGN KEY([O_ID])
REFERENCES [dbo].[ORDERS] ([O_ID])
GO
ALTER TABLE [dbo].[ITEMS] CHECK CONSTRAINT [FK_ITEMS_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([O_COMPANY])
REFERENCES [dbo].[CUSTOMERS] ([C_ID])
GO
ALTER TABLE [dbo].[TITLES]  WITH CHECK ADD  CONSTRAINT [FK_TITLES_AUTHORS] FOREIGN KEY([A_ID])
REFERENCES [dbo].[AUTHORS] ([A_ID])
GO
ALTER TABLE [dbo].[TITLES] CHECK CONSTRAINT [FK_TITLES_AUTHORS]
GO
ALTER TABLE [dbo].[TITLES]  WITH CHECK ADD  CONSTRAINT [FK_TITLES_BOOKS] FOREIGN KEY([B_ID])
REFERENCES [dbo].[BOOKS] ([B_CONTRACT])
GO
ALTER TABLE [dbo].[TITLES] CHECK CONSTRAINT [FK_TITLES_BOOKS]
GO
USE [master]
GO
