USE [master]
GO
/****** Object:  Database [DB_3]    Script Date: 16.06.2024 22:20:50 ******/
CREATE DATABASE [DB_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_3', FILENAME = N'D:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_3_log', FILENAME = N'D:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_3_log.ldf' , SIZE = 66560KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_3]
GO
/****** Object:  Table [dbo].[CATALOGS]    Script Date: 16.06.2024 22:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGS](
	[ID_CATALOG] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](20) NOT NULL,
 CONSTRAINT [PK_CATALOGS] PRIMARY KEY CLUSTERED 
(
	[ID_CATALOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 16.06.2024 22:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID_ORDER] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER] [int] NOT NULL,
	[ORDERTIME] [date] NOT NULL,
	[NUMBER] [int] NOT NULL,
	[ID_PRODUCT] [int] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 16.06.2024 22:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ID_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](50) NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[COUNT] [int] NOT NULL,
	[MARK] [decimal](3, 1) NOT NULL,
	[DESCRIPTION] [nchar](100) NULL,
	[ID_CATALOG] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 16.06.2024 22:20:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID_USER] [int] IDENTITY(1,1) NOT NULL,
	[SURNAME] [nchar](30) NOT NULL,
	[PATRONIMIC] [nchar](30) NOT NULL,
	[NAME] [nchar](30) NOT NULL,
	[PHONE] [nchar](12) NULL,
	[EMAIL] [nchar](25) NOT NULL,
	[URL] [nchar](50) NULL,
	[USERSTATUS] [nchar](10) NOT NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_PRODUCTS] FOREIGN KEY([ID_PRODUCT])
REFERENCES [dbo].[PRODUCTS] ([ID_PRODUCT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_PRODUCTS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USERS] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USERS] ([ID_USER])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_USERS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTS_CATALOGS] FOREIGN KEY([ID_CATALOG])
REFERENCES [dbo].[CATALOGS] ([ID_CATALOG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK_PRODUCTS_CATALOGS]
GO
USE [master]
GO
